<div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom: -25px;">
                <label>My tracks</label>
        </div>
</div>
<%for (var t in tracks) {%>

<a class="track col-sm-3" href='/tracks/<%=tracks[t].name%>'>
        <p><%=tracks[t].name%></p>
        <img src="<%=tracks[t].urlImg%>" style="width: 200px;">
</a>

<%}%>
